@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'owl.carousel/dist/assets/owl.carousel.css';
@import 'owl.carousel/dist/assets/owl.theme.default.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-container {
  overflow-x: auto; 
  white-space: nowrap;
  scroll-snap-type: x mandatory; 
}

section {
  height: 100vh; 
  display: inline-block; 
  scroll-snap-align: start; 
}


@media (min-width: 0px) {
  .scroll-container {
    overflow-x: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: none; 
  }
  
  section {
    scroll-snap-align: none; 
  }
}
